* {
  margin: 0;
  padding: 0;
}

.mainSection1 {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  background-color: #f1f1f1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  h1 {
    a {
      font-family: Poppins;
      font-weight: bold;
      font-size: 32px;
      position: relative;
      div {
        position: absolute;
        width: 1px;
        height: 1px;
        border: 3px solid #fda300;
        border-radius: 100%;
        top: 34px;
        left: 106px;
      }
    }
  }
  .ulflex {
    display: flex;
    li {
      text-align: center;
      width: 60px;
      margin: 20px;
      list-style-type: none;
      a {
        font-weight: 500;
        font-family: Poppins;
        text-decoration: none;
        font-size: 14px;
        color: black;
      }
      a:hover {
        font-weight: bold;
      }
    }
  }
}

.flexmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
}

.main1 {
  font-family: Poppins;

  h1 {
    font-size: clamp(20px, 5vw, 44px);
    font-weight: 600;
  }

  p {
    font-size: clamp(8px, 2vw, 14px);
    line-height: 200%;
    font-weight: 500;
  }
}

.main2 {
  padding-top: 30px;
  img {
    height: 500px;
    display: block;
  }
}

.mainSection2 {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.flexmain2 {
  min-width: 300px;
  max-width: max-content;

  img {
    margin-bottom: 20px;
  }

  h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
  }

  p {
    line-height: 30px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
  }
}

.contentSection3 {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    padding-top: 60px;
  }
  div {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      padding: 30px;
      color: black;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 400;
    }
    img {
      max-width: 930px;
      width: 100%;
    }
  }
}

.contentSection4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;

  h1 {
    font-size: 34px;
    font-weight: 600;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .p4 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
  }

  button {
    border: none;
    margin-bottom: 50px;
    background-color: black;
    width: 135px;
    height: 27px;
    border-radius: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }

  button:hover {
    background-color: #464646;
  }
}

.images {
  display: flex;
  flex-direction: row;
  gap: 55px;
  padding-bottom: 50px;
}
.end {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 40px;
}

.menu {
  display: none;
  width: 33px;
  height: 20px;
  background-image: url(NAV.png);
}

.menuflex {
  padding-top: 35px;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 320px;
  height: 500px;
  background-color: white;
  justify-content: center;
  .home {
    font-weight: 700;
  }
  ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    li {
      font-size: 34px;
      font-weight: 600;
      a {
        text-decoration: none;
        font-family: Poppins;
        color: #828282;
      }
      a:hover {
        color: black;
      }
      .ahome {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .mainSection2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flexmain2 {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .flexmain {
    justify-content: center;
  }
}

@media screen and (max-width: 1106px) {
  .flexmain {
    flex-direction: column;
  }

  .main2 {
    img {
      height: 400px;
    }
  }
}

@media screen and (max-width: 830px) {
   .mainSection1 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .mainSection2 {
    padding: 50px;
  }
}

@media screen and (max-width: 488px) {
  .mainSection1 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .mainSection2 {
    padding: 30px;
  }
  .contentSection4 {
    .images {
      gap: 40px;
    }
  }
}

@media screen and (max-width: 660px) {
  .header {
    .ulflex {
      display: none;
    }
  }
  .menu {
    display: flex;
  }
  .menu:hover {
    .menuflex {
      display: flex;
    }
  }
}